*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1rem;

}


.container {
  display: flex;
  background: #fff;
  width: 700px;
  border-radius: 10px;
  


}

.container img{
  width: 50%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.text {
  width: 50%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-around;
}

.text span {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  font-size: 12px;
  color: #777;
  font-weight: 400;
}

.text h1{
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  
}

.text p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #777;
}

.text .price {
  display: flex;
  align-items: center;
  font-family: "Fraunces", sans-serif;
  color: hsl(158, 36%, 37%);
  font-size: 35px;

}

.text .price::after {
  content:'R$169,99';
  text-decoration: line-through;
  margin-left: 20px;
  font-size: 13px;
  color:#777;
  font-family: 'Montserrat', sans-serif;
}

.text button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: hsl(158, 36%, 37%);
  border-radius: 0.5rem;
  border: none;
  padding: 1rem 0;
  cursor: pointer;
  transition: 0.4s;
  
}

.text button:hover{
  color: hsl(212, 21%, 14%);
  
}

.text button img {
  width: 15px;
  margin-right: 10px;
  transform: rotateX(50%);
}